<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="/img/passport.png" alt="" />
      </a>
    </div>

    <!-- <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Product</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Features</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Marketplace</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Company</a
      >
    </div> -->
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <% if (user) { %>

      <a
        href="/auth/logout"
        class="text-sm ml-1 font-semibold leading-6 text-gray-900"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-log-out"
        >
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
          <polyline points="16 17 21 12 16 7"></polyline>
          <line x1="21" y1="12" x2="9" y2="12"></line>
        </svg>
        Logout
      </a>
      <% } else { %>

      <a
        href="/auth/login"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        Sign in <span aria-hidden="true">&rarr;</span>
      </a>

      <% } %>
    </div>
  </nav>
</header>
